*{
    background-color: blanchedalmond;
}

.rr{
    margin-left: 550px;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 30px;
}
#ee{
    margin-left: 350px;
    width: 800px;
}
#ew{
    margin-left: 650px;
}